<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.dao.UserDao">
  <select id="findAll" resultType="com.md.model.User">
    select id ,user_name AS userName , login_type AS loginType , address ,phone_number
    AS phoneNumber,gender from tb_user
  </select>


</mapper>
